<div class="mx-auto flex flex-col" id="ticker">
  <!--  <table class="table-auto">
      <tbody class="table-header-group">
      <tr><td colspan="5"> <div class="text-white py-2 px-4">{{mockData[0]['Track']}}   <span class="text-2xl highlight-text ml-4">{{mockData[0]['Class']}}</span></div></td></tr>
      <tr *ngFor="let race of mockData.slice(0, 1);let i = index;" class="p-4 bg-slate-900 table-row">
        <td class="table-cell" *ngFor="let num of [1,2,3,4,5]; let i = index;">
          <span class="text-white px-2 py-2 bg-violet-800">{{race['Position'+num]}}</span>
          <span class="font-bold highlight py-2 px-4">{{race['FullName'+num] | uppercase}}</span>
          <span class="text-sm text-white "> Lap: {{race['Laps'+num]}}</span>
          <div class=" text-2xl highlight mt-4 py-2 px-4">
            <img class="float-left mr-2" [src]="flagSVG"/> {{race['LastLapTime'+num]}}
          </div>
        </td>
      </tr>
      </tbody>
    </table>-->

  <div class="w-full bg-black" *ngIf="mockData.length">
    <div class="text-white py-1 px-4 mb-1 bg-slate-800">
      <span class="text-3xl">{{mockData[0]['Track']}}</span> <span
      class="text-2xl number-font text-white ml-4">{{mockData[0]['Class']}}</span></div>
    <div *ngFor="let race of mockData.slice(0, 1);let i = index;">
      <div *ngFor="let num of [1,2,3,4,5]; let i = index;" class="mb-2 flex flex-col">

        <div id="lap-times" class=" text-2xl bg-slate-700 flex justify-start items-center">
          <span class="text-white px-3 py-1 bg-violet-800">{{race['Position' + num]}}</span>
          <div class="flex flex-row justify-around items-center text-white">
            <img class="mr-2 ml-4" [src]="flagSVG"/>
            <span class="mr-2 text-highlight">{{race['LastLapTime' + num]}}</span>
          </div>
          <span class="text-base text-white ml-auto mr-4"> Lap: {{race['Laps' + num]}}</span>
        </div>
        <div id="driver-info" class="flex flex-row justify-start items-center highlight">
          <div
            class="text-2xl number-font italic text-violet-800 bg-slate-300 px-2 py-1 min-w-fit w-15">{{race['Number' + num]}}</div>
          <div class="font-bold px-4 text-2xl">{{race['LastName' + num] | uppercase}}</div>
        </div>
      </div>

    </div>
  </div>


  <!--
  {{mockData | json}} -->
  <!-- <div class="csv-result-table">
        <div *ngFor="let race of mockData;let i = index;" class="max-h-50 overflow-y-scroll">

          <p>Date : {{race.Date}}</p>
          <p>Track : {{race.Track}}</p>
          <p>Class: {{race.Class}}</p>
          <p>Race: {{race.Race}}</p>
          <p>Flag Status: {{race.FlagStatus}}</p>
          <p>Icon: <img [src]="race.FlagIcon"/></p>
          <p>Laps To Go: {{race.LapsToGo}}</p>
          <p>MRP Logo:  <img [src]="race.MRPLogo"/></p>
          <p>Position: {{race.Position1}}</p>
          <p>First Name(1): {{race.FirstName1}}</p>
          <p>Last Name(1): {{race.LastName1}}</p>
          <p>Full Name(1): {{race.FullName1}}</p>
          <p>laps1: {{race.Laps1}}</p>
          <p>Last Lap Time (1): {{race.LastLapTime1}}</p>
          <p>Diff1: {{race.Diff1}}</p>


      </div>
  </div> -->
</div>
